<table class='table'>
  <thead>
    <th>Name</th>
    <th>skill</th>
    <th>competency</th>
  </thead>

  <tbody>
    <tr *ngFor="let skill of skillData">
      <td>
        <span *ngIf=!editMode> {{skill.name}} </span>
        <input *ngIf=editMode type="text" name="name" [(ngModel)]="editSkillData.name">
      </td>
      <td> 
        <span *ngIf=!editMode> {{skill.skill}} </span>
        <input *ngIf=editMode type="text" name="skill" ngModel [(ngModel)]="editSkillData.skill">
      </td>
      <td>
        <span *ngIf=!editMode> {{skill.competency}} </span>
        <input *ngIf=editMode type="text" name="competency" [(ngModel)]="editSkillData.competency">
      </td>

      <td>
        <div *ngIf=!editMode> 
          <button type="button" class="btn btn-default" (click)="editUser($event)">Update</button>
        </div>
        <div *ngIf=editMode> 
          <button type="button" class="btn btn-default" (click)="updateUser($event)">Save</button>
        </div>
      </td>
    </tr>
  </tbody>

</table>
