<!--The content below is only a placeholder and can be replaced.-->
<!--app-app-navbar></app-app-navbar-->
<header>
  <div class="app-header center">
   <h1> Sample app with CRUD operations on Firestore </h1>
  </div>
</header>

<div class="container">
  <div class="row">  
    <div class="col-sm-2">
      <div>
      <app-side-nav> </app-side-nav>
      </div>
    </div>

    <div class="col-sm-10 mybody">    
      <div>
        <router-outlet></router-outlet>        
      </div>  
    </div>
  </div>
</div>
  



 



  <!--div class="container">
            
    </div>
  
  <div class="center">
   
  </div-->
