<!--The content below is only a placeholder and can be replaced.-->
<!--app-app-navbar></app-app-navbar--> 
  <div class="row">  
    <div class="col-sm-2">
      <div class=side-nav>
        <div class="all-tiles">
          <div>        
            <app-tile> </app-tile>
          </div>
          <div>
            <app-tile> </app-tile>
          </div>
          <div>
            <app-tile> </app-tile>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="mybody">
        <router-outlet></router-outlet>        
      </div>  
    </div>
  </div>

  



 



  <!--div class="container">
            
    </div>
  
  <div class="center">
   
  </div-->
