

.mybody {
	background: linear-gradient(to right, #106086, #33b2d8);
	padding-bottom: 100%; 
}

.center{
	text-align: center;
}

.all-tiles{
	margin:0 auto;
	//width:80%;
}

.tile-area{
	margin-bottom: 5px;
}
