

	.jumbotron {
		margin-top: 32px;
		padding-left: 10px;
		padding-top:10px;
	
		header{
			h3{
				display: inline;
			}

			.edit{

				float : right;
				clear: both;
				h5{
					display: inline;
					//float: right;
					cursor:pointer;
					color: rgba(0,0,0,.6)!important;
				}

				a{
					cursor: pointer;
				}
			}
			
		} 
	
		
	}

	.backdrop{
		background-color:rgba(0,0,0,0.6);
		position:fixed;		
		top:0;
		left:0;
		width:100%;
		height:100vh;
	}

	.mymodal-ts{
		h4{
			float: left;
			clear: both;
		}
	}